* {
    --gap: 0.75rem;
    --contrast: #fff;
    --base: #111;
    --muted:  #3A258E;
    --ok: #00a080;
    --warn: #A00020;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#date {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    max-width: 30rem;
}

#date p {
    font-size: larger;
}

button {
    background-color: var(--ok);
    color: var(--contrast);
    border: none;
    cursor: pointer;
    border-radius: .3rem;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    padding: .5rem 1rem;
    width: 6rem;
}